1. Write a Python program that accepts the user's first and last name and prints them in reverse order with a space between them.

In [10]:
first_name = input('First name: ').capitalize()
last_name = input('Last name: ').capitalize()
print(last_name,first_name)

First name: uday
Last name: prakash
Prakash Uday

2. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

In [12]:
n = int(input("Enter an integer: "))
n_sum = n + int(str(n) + str(n)) + int(str(n) + str(n) + str(n))
print("n+nn+nnn = ",n_sum)

Enter an integer: 56
n+nn+nnn =  571368

3.Display three string “Name”, “Is”, “James” as “Name**Is**James”.

In [13]:
a = "Name"
b = "Is"
c= "James"
result =a+"**"+b+"**"+c
print(result)

Name**Is**James

4.Display float number with 2 decimal places using print().

In [14]:
num = 3.14159
print("{:.2f}".format(num))

3.14

5.Accept any three string from one input() call.

In [30]:
input_str = input("Enter three strings separated by space: ")
string_list = input_str.split()

if len(string_list)!=3:
    print("Error!")
else:
    a,b,c=string_list
    print(" ",a,b,c)

Enter three strings separated by space: where are you
  where are you